html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #575757;
}

.login-body {
    background-image: url(https://www.catlin.edu/uploaded/images/VeracrossImages/1800x1800-Veracross-Background6.jpg?1549319927594);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.MuiPickersModal-dialog {
    overflow: hidden !important;
}

@media print {
    div.pageBreak {
        page-break-after: always;
    }
}
